apiVersion: v1
kind: Pod
metadata:
  name: red
  labels:
    app: redmineapp
  annotations:
    snapshotPolicy: "restore"
    snapshotPath: "/var/lib/kubelet/migration/ooo/tuongvx"
spec:
  containers:
  - name: tuong
    image: tuongvx/redmine
    ports:
    - containerPort: 3000
      protocol: TCP
  #   volumeMounts:
  #     # name must match the volume name below
  #   - name: nfs-log
  #     mountPath: /usr/src/redmine/log
  #   - name: nfs-files
  #     mountPath: /usr/src/redmine/files
  #   - name: nfs-sqlite
  #     mountPath: /usr/src/redmine/sqlite
  # volumes:
  # - name: nfs-log
  #   hostPath:
  #     path: /var/lib/kubelet/migration/redmine/log
  #     type: Directory
  # - name: nfs-files
  #   hostPath:
  #     path: /var/lib/kubelet/migration/redmine/files
  #     type: Directory
  # - name: nfs-sqlite
  #   hostPath:
  #     path: /var/lib/kubelet/migration/redmine/sqlite
  nodeSelector:
    kubernetes.io/hostname: worker1
